<% provide(:title, 'About') %>

<center>
  <h1>SimpleBlog</h1>
  <p>Here is <strong>SimpleBlog</strong></p>
  <p>sorry! developing..........</p>
  <p>ABOUT</p>
  <hr/>
  <h3>Hello,I'm zhangsm, the developer of simple......</h3>
</center>
